.heading-404 {
  font-size: 100px;
  font-weight: bold;
}

.text-not-found {
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0 10px;
}

.main-text {
  font-weight: 500; 
  font-size: 20px;
  margin: 10px;
}

.link-go-back {
  font-size: 20px;
  
}